/* Set ALL HTML elements with border-box sizing */
* {
 box-sizing: border-box;
}
/* psuedo classes added for the button links to show a user their actions with the links*/
a:link    { color: black;  }
a:visited { color: black;   }
a:hover   { color: purple; }
a:active  { color: red;  }
/* styling added to center and have same font size for headers on webpage*/
header, h1, h2, h3, .align-center {
  text-align: center;
  font-size: 25px;
}
/* footer aligned right to style it's difference from the rest of the content*/
footer {
  text-align: right;
}
/* unifying the top of the page with a background color and font*/
.header-styling {
background:#FFF5EE;
font-family: Arial, Helvetica, sans-serif;
}
/*seperate page links out for styling */
.page-links {
  letter-spacing: 3px;  
    margin-top: 35px;
    background: #FDF5E6;
}
p {
  font-size: 15px;
}
/* styling the buttons at top of the page */
.btn {
  border: 1px solid black;
  border-radius: 15%;
  border-color: #B8860B;
   margin: 5px 5px;
padding: 5px 5px;
background: #FFB6C1;
 font-weight: 500;
 font-family: sans-serif, Cambria, Cochin, Georgia, Times, serif;
 height: 5px;
 text-align: center;
}
/* creating space in between the different sections*/
section {
  margin: 25px 15px;
padding: 25px 15px;
}